.center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

nav .brand-logo-header {
    font-size: 1.2em;
}

.close-button {
    float:right;
    margin-top:-10px;
    margin-right:10px;
}

.card .card-title {
    font-size: 14px;
    color: black;
}