.center-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

button a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.nav-container {
    flex: 0 0 auto;
}

.session-list {
    flex: 0 1 auto;
}

nav .brand-logo-header {
    font-size: 1.2em;
}

.brand-logo {
    left: 50%;
    transform: translateX(-50%);
}
.session-detail {
    font-size: 1em !important;
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 18px;
    text-align: center
}

.back-button {
    float:left;
    margin-top:-5px;
    margin-left:5px;
}

.close-button {
    float:right;
    margin-top:-5px;
    margin-right:10px;

}

.card .card-title {
    font-size: 14px;
    color: black;
}

.card {
    margin: 0;
}

.session-price {
    float: right;
}

.multiline
{
    padding:20px;
    white-space: pre-wrap;
}

.disabled-card .card-title {
    color: #e0e0e0 !important;
}

.time-card {
    text-align: center;
}

.big-nav {
    height: 90px;
}

.full-nav {
    height: 100vh;
}

.small-text {
    font-size: 0.9em !important;
}

.large-text {
    font-size: 1.5em !important;
}

.switch label {
    color: white;
}

.booking-btn {
    margin-left: 10px;
    margin-right: 10px;
}